IB Support
Portal
Previews
IDEDocumentationWindow.xcuserstate
IDEEditorInteractivityHistory
IDEFindNavigatorScopes.plist
IDELibraryWindowController.xcuserstate
IDENamedTabStateContexts.plist
IDEPreferencesController.xcuserstate
